* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(204,204,204);
}
page {
    background: white;
    display: block;
    margin: 0 auto 0.5cm;
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}
@media print {
    body, page {
        margin: 0;
        box-shadow: none;
    }
}
